/* You can add global styles to this file, and also import other style files */


@import "src/styles/variables";
@import "src/styles/font";
@import "src/styles/text";
@import "src/styles/button";


@mixin full-screen-gradient-background() {
  background: linear-gradient(to top, $color-1 0, $color-2 100%), #000000;
  height: 100vh;
}

body {
  @include full-screen-gradient-background();

  margin: 0;
  padding: 0;
}
