.data-table-image-container {
  width: 4em;
  height: 4em;
  margin: 1em;
  overflow: hidden; // This is important to hide any overflow if the image is larger than the rounded container
  border-radius: 10px; // You can adjust the value to control the amount of rounding

  img {
    width: 100%; // Make sure the image fills the rounded container
    height: 100%; // Make sure the image fills the rounded container
    object-fit: cover; // Preserve the aspect ratio of the image and cover the entire container
  }
}

.data-table {
  width: 100%;
  margin: 1em;
}

.data-table-paginator {
  margin: 1em;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
.demo-row-is-clicked {
  font-weight: bold;
}
