<link rel="stylesheet" href="secure.component.scss">
<mat-toolbar style="min-height: 3rem;" autofocus>
  <button type="button" mat-button (click)="toggleLeftSidenav()">
    <mat-icon>menu</mat-icon>
    <span>Catton Platform</span>
  </button>

  <span class="example-spacer"></span>

  <button type="button" mat-button (click)="toggleRightSidenav()">
    <mat-icon fontIcon="person"></mat-icon>
    <app-user-info></app-user-info>
  </button>
</mat-toolbar>


<mat-sidenav-container style="min-height: 100%; display: block">
  <!-- Left sidenav -->
  <mat-sidenav #leftSidenav mode="over" [autoFocus]="false">
    <div style="margin-top: 3rem"></div>
    <!-- Content for the left sidenav -->
    <div class="side-nav-content">
      <button mat-button (click)="navigateToFromSidebar('/')">
        <mat-icon fontIcon="home"></mat-icon>
        Home
      </button>
      <button mat-button (click)="navigateToFromSidebar('/conventions')">
        <mat-icon fontIcon="group"></mat-icon>
        <span>Conventions</span>
      </button>
      <button mat-button (click)="navigateToFromSidebar('/accounts')">
        <mat-icon fontIcon="person"></mat-icon>
        Accounts
      </button>
      <button mat-button (click)="navigateToFromSidebar('/tickets')">
        <mat-icon fontIcon="attach_money"></mat-icon>
        Tickets
      </button>
    </div>
  </mat-sidenav>

  <!-- Main content area -->
  <mat-sidenav-content>
    <app-page>
      <router-outlet></router-outlet>
    </app-page>
  </mat-sidenav-content>

  <!--  &lt;!&ndash; Right sidenav &ndash;&gt;-->
  <!--  <mat-sidenav #rightSidenav mode="side" position="end" >-->
  <!--    &lt;!&ndash; Content for the right sidenav &ndash;&gt;-->
  <!--    <button mat-button (click)="toggleRightSidenav()">Toggle Right Sidenav</button>-->
  <!--  </mat-sidenav>-->


</mat-sidenav-container>

