@import "src/styles/styles";

.top-spacer {
  padding-top: var(--top-spacer-padding);
}

:host {
  --top-spacer-padding: 64px;

  display: block;

  max-width: 39rem;
  min-height: 100vh;

  margin: auto;

  @media (max-width: $breakpoint-lg) {
    width: 100%;
    max-width: none;
    padding: 0;
    border-radius: 0;
    margin: 0;
  }
}
