@import "src/styles/styles";

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; // Adjust the value as needed

  height: 2.5em;
  box-shadow: $shadow;
}
.example-spacer {
  flex: 1 1 auto;
}


.navbar-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.left-sidenav {
  padding: 20px;
}
