# Exclude Node.js modules and npm logs
node_modules
npm-debug.log

# Exclude build output and temporary files
dist/
tmp/
.out-tsc/

# Exclude any development or configuration files
*.swp
*.swo
*.log
*.tmp
*.bak
.vscode/
.idea/
.DS_Store
Thumbs.db
