<h1 class="page-header">Menu</h1>


<div class="main-menu-grid">
<!--  <div class="main-menu-ripple mat-elevation-z4" matRipple (click)="navigateTo('/accounts')">-->
<!--    <mat-icon>person</mat-icon>-->
<!--    <p>Accounts</p>-->
<!--  </div>-->
<!--  <div class="main-menu-ripple mat-elevation-z4" matRipple (click)="navigateTo('/tickets')">-->
<!--    <mat-icon>attach_money</mat-icon>-->
<!--    <p>Tickets</p>-->
<!--  </div>-->
<!--  <div class="main-menu-ripple mat-elevation-z4" matRipple (click)="navigateTo('/attendees')">-->
<!--    <mat-icon>group</mat-icon>-->
<!--    <p>Attendees</p>-->
<!--  </div>-->
<!--  <div class="main-menu-ripple mat-elevation-z4" matRipple (click)="navigateTo('/configuration')">-->
<!--    <mat-icon>settings</mat-icon>-->
<!--    <p>Configuration</p>-->
<!--  </div>-->
<!--  <div class="main-menu-ripple mat-elevation-z4" matRipple (click)="navigateTo('/support-tickets')">-->
<!--    <mat-icon>sms_failed</mat-icon>-->
<!--    <p>Support Tickets</p>-->
<!--  </div>-->
  <div class="main-menu-ripple mat-elevation-z4" matRipple (click)="navigationService.toOrganizers()">
    <mat-icon>person_pin</mat-icon>
    <p>Organizers</p>
  </div>
  <div class="main-menu-ripple mat-elevation-z4" matRipple (click)="navigationService.toAttendees()">
    <mat-icon>group</mat-icon>
    <p>Attendees</p>
  </div>
</div>

